<html>
<head>
    <title> Карточка читателя </title>
    {% macro render_table(table_name, relation) %}
    <div class="table-wrapper">
        <p>
            <b>{{table_name}}</b>
        </p>
        {% set n = len(relation) %}
        <table>
            <tr style="background-color: rgb(242, 242, 242);">
                {% for name in relation.dtypes.index %}
                <th>{{name}}</th>
                {% endfor %}
            </tr>
            <tbody>
            {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                {% set td = relation.loc[i, name] %}
                <td>
                    {{td}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endmacro %}
    <link rel="stylesheet" href="4_3/main.css">
</head>
<body>
<div class="content">
    <div>
        <form>
            Читатель:

            <select name="reader">
                {% set n = len(combo_box) %}
                <option [selected] value = код_читателя> ФИО </option>

                {% for i in range(n) %}
                {% set id_r = combo_box.loc[i, "reader_id"] %}

                {% if id_r == reader_id %}


                <option selected value={{id_r}}>
                    {% else %}
                <option value={{id_r}}>
                {% endif %}
                {{ combo_box.loc[i, "reader_name"] }}
                </option>
                {% endfor %}
            </select>

            <input type="submit" value="Найти">
        </form>
        {{render_table('Карточка', book_reader)}}
    </div>
</div>
</body>
</html>